@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


body {
    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.header {
    max-width: 1197px;
    margin: 0 auto;
}