body {
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
    font-size: 14px;
    font-weight: 500;
    background: #FAFAFA;
}
a {
    text-decoration: none;
}
/* -------------------------------------------- */
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1080px;
    padding: 0px 15px;
    margin: 0px auto;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* -------------------------------------------- */
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
}
.header__container{
    display: flex;
    min-height: 105px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin-left: 130px;
}
@media (max-width: 992px) {
    .header__menu {
        margin-left: 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin-left: 40px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin-left: 25px;
    }
}
.header-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 45px 0px;
}
.header-block__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: 0.2px;
    width: 610px;
}
@media(max-width: 992px) {
    .header-block__title {
        font-size: 36px;
    }
}
@media(max-width: 576px) {
    .header-block__title {
        font-size: 32px;
        width: 300px;
    }
}
.header-block__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
    width: 510px;
}
@media(max-width: 576px) {
    .header-block__subtitle {
        font-size: 12px;
        width: 300px;
    }
}
/* -------------------------------------------- */
.menu {
    padding: 5px 0px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: 170%;
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}
/* -------------------------------------------- */
.page {
    flex: 1 1 auto;
}
.page__services {
    position: relative;
    z-index: 2;
    margin: -110px 0 0 0;
}
.page__stats {
    padding: 80px 0;
}
.page__advices {
    padding-bottom: 80px;
}
.page__whowe {
    background: #FFFFFF;
    padding: 80px 0;
}
.page__clients {
    padding: 60px;
}
.page__subscribe {
    padding: 20px;
}
.page__intouch {
    padding: 35px 0 80px 0;
}
.page__contact {
    background: #FFFFFF;
    padding: 40px 0;
}
/* -------------------------------------------- */
.main-block {
    position: relative;
}
.main-block__body {
    position: relative;
    z-index: 2;
    padding: 185px 0px 190px 0px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
@media(max-width: 992px) {
    .main-block__body {
        padding: 120px 0px 190px 0px;
    }
}
.main-block__title {
    font-size: 58px;
    line-height: 135%;
    font-weight: 800;
    letter-spacing: 0.2px;
}
@media(max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}
.main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
}
.main-block__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
}
@media(max-width: 479px) {
    .main-block__buttons {
        gap: 20px;
    }
}
.main-block__button {
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 36px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    min-height: 48px;
    font-size: 14px;
}
@media(max-width: 479px){
    .main-block__button {
        flex: 1 1 auto;
    }
}
.main-block__button_orange {
    background: #FF7B47;
    color: #FFFFFF;
}
.main-block__button_transparent {
    background: transparent;
    color: #0D5C63;
    border: 1px solid #0D5C63;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media(max-width: 1300px) {
    .main-block__image img{
        object-position: right;
    }
}
@media(max-width: 992px) {
    .main-block__image img {
        opacity: 0.5;
    }
}
/* -------------------------------------------- */
.services__body {
    display: flex;
    gap: 30px;
}
@media(max-width: 992px) {
    .services__body {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.services__column {
    padding: 35px 40px;
    width: 33%;
}
@media(max-width: 992px) {
    .services__column {
        width: 50%;
    }
}
.services__column_white {
    background: #FFFFFF;
}
.services__column_green {
    background: #0D5C63;
    color: #FFFFFF;
}
.services__column_green .item-service__text {
    color: #FFFFFF;
}
.services__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media(max-width: 479px) {
    .item-service {
        display: flex;
        align-items: center;
        text-align: center;
    }
}
.item-service__icon {
    display: flex;
    height: 48px;
}
.item-service__icon img {
    align-self: flex-end;
}
.item-service__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.1px;
}
.item-service__text {
    color: #737373;
    line-height: 143%;
    letter-spacing: 0.2px;
}
/* -------------------------------------------- */
.stats__body {
    display: flex;
    justify-content: space-between;
}
@media(max-width: 992px) {
    .stats__body {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
}
@media(max-width: 479px) {
    .stats__body {
        gap: 20px;
    }
}
.stats__column {
    background: #FFFFFF;
    padding: 30px 40px;
}
@media(max-width: 992px) {
    .stats__column {
        width: 230px;
    }
}
@media(max-width: 479px) {
    .stats__column {
        width: 180px;
    }
}
.stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.stats__value {
    font-size: 40px;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: 0.2px;
}
@media(max-width: 992px) {
    .stats__value {
        font-size: 34px;
    }
}
.stats__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
}
@media(max-width: 992px) {
    .stats__text {
        font-size: 14px;
    }
}
/* -------------------------------------------- */
.advices__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .advices__body {
        gap: 30px;
        justify-content: center;
    }
}
.advices__column {
    display: flex;
    flex-direction: column;
    width: 230px;
    background: #FFFFFF;
}
.advices__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    height: 140px;
}
.advices__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.advices__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}
.advices__img {
    width: 100%;    
}
/* -------------------------------------------- */
.whowe__body {
    padding: 50px 0;
    display: flex;
    gap: 100px;
    align-items: center;
}
@media (max-width: 1150px) {
    .whowe__body {
        gap: 70px;
    }
}
@media (max-width: 992px) {
    .whowe__body {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-top: 0;
    }
}
@media (max-width: 992px) {
    .whowe__video img {
        width: 100%;
        max-width: 600px;
        height: auto;
    }
}
.whowe__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}
@media (max-width: 992px) {
    .whowe__title {
        font-size: 34px;
        text-align: center;
    }
}
.whowe__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 50px;
}
@media (max-width: 992px) {
    .whowe__text {
        max-width: 510px;
        text-align: center;
    }
}
.whowe__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (max-width: 992px) {
    .whowe__items {
        align-items: center;
    }
}
.whowe__item {
    display: flex;
    gap: 20px;
}
.item-whowe__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.item-whowe__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}
/* -------------------------------------------- */
.clients__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
/* -------------------------------------------- */
.subscribe {
    position: relative;
    padding-bottom: 20px;
}
.subscribe::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #252B42;
}
.subscribe__body {
    position: relative;
    align-items: center;
    background: #17213C;
    z-index: 2;
    padding: 30px 50px;
    border-radius: 2px;
}
@media (max-width: 540px) {
    .subscribe__body {
        padding: 20px 40px;
    }
}
@media (min-width:1070px) {
    .subscribe__body {
        margin: 0 30px;
    }
}
@media (min-width: 840px) {
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
}
.subscribe__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    max-width: 265px;
}
@media (max-width: 840px) {
    .subscribe__title {
        font-size: 28px;
        max-width: unset;
        text-align: center;
        margin-bottom: 20px;
    }
}
.subscribe__form {
    display: flex;
    flex: 0 1 50%;
    align-items: center;
}
@media (max-width: 540px) {
    .subscribe__form {
        flex-direction: column;
        gap: 20px;
    }
}
.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}
@media (max-width: 540px) {
    .subscribe__button {
        border-radius: 5px;
        width: 100%;
        min-height: 50px;
    }
}
.subscribe__button__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.subscribe__input {
    flex: 1 1 auto;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    box-sizing: border-box;
    min-height: 60px;
    padding: 0 20px; 
    color: #737373;
    font-size: 18px;
}
@media (max-width: 540px) {
    .subscribe__input {
        min-height: 50px;
        border-radius: 5px;
        padding: 0px 20px;
        width: 100%;
        font-size: 16px;
        text-align: center;

    }
}
.subscribe__input:focus {
    color: #000000;
}
/* -------------------------------------------- */
@media (min-width: 992px) {
    .intouch__items {
        display: flex;
        align-items: center;
        padding-top: 35px;
    }
}
.intouch__item {
    flex: 0 1 33.333%;
}
.item-intouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 50px 40px;
    gap: 15px;
}
.item-intouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-intouch__email {
    color: inherit;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
    letter-spacing: 0.2px;
}
.item-intouch__email:hover {
    text-decoration: underline;
}
.item-intouch__icon img {
    height: 72px;
    width: auto;
}
.item-intouch__label {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.item-intouch__button {
    border: 1px solid #FF7B47;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #FF7B47;
    line-height: 171%;
    letter-spacing: 0.2px;
    transition: all 0.3s ease 0s;
}
.item-intouch__button:hover {
    background-color: #FF7B47;
    color: #FFFFFF;
}
.item-intouch_active {
    background-color: #252B42;
    color: #FFFFFF;
    padding: 80px 40px;
}
.item-intouch_active .item-intouch__button {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.item-intouch_active .item-intouch__button:hover {
    background-color: #FFFFFF;
    color: #252B42;
}
/* -------------------------------------------- */
.contact__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        text-align: center;
    }
}
.contact__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}
.contact__text {
    color: #737373;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
}
.content__button {
    font-size: 14px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background-color: #FF7B47;
    border-radius: 5px;
    padding: 15px 40px;
}
/* -------------------------------------------- */
.footer {
    padding: 50px 0;
    background: #17213C;
}
.footer__container {
    display: flex;
}
.footer__column {
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__label {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-footer__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
